a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    border: 4px dotted #9e6429;
    border-radius: 5px;
}

a.skip:focus {
    top:10px;
    left:10px;
    border: 4px dotted #9e6429;
}
nav a:focus {
    outline: none;
    border: 4px dotted #9e6429;
    border-radius: 5px;
}

*:focus {
    outline: none;
    border: 4px dotted #9e6429;
    border-radius: 5px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    background-color: #fef6ed;
}

header > a {
    width: 40%;
}
/* .bobaflow_logo {
    width: 40%;
} */
header {
    /* position: sticky; */
    background: #fef6ed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* nav {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:left;
} */

nav li{
    display:inline;
    padding-bottom: 10px;
  }

.nav_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
  }

a:link, a:visited {
    font-weight: 600;
    color: #1C567D;
    text-decoration: none;
}

a:hover {
    color: #9e6429;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

a::selection {
    outline: none;
    border: none;
}

nav .active {
    color: #9e6429;
    font-weight: 800;
    text-decoration: underline 3px;
    text-transform: uppercase;

}

h1 {
    padding-top: 40px;
    font-size: 2.25rem;
    font-weight: 800;
    padding-bottom: 5px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
    padding-bottom: 10px;
}

h3 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

p, p.boba_subtext{
    font-size: 1.2rem;
}

img {
    border-radius: 10px;
}



/* about me and home  */
p.advisory{
    font-size: .8rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 10px;
}

.home_emily {
    padding-bottom: 2rem;
}
.home_emily2 {
    padding-top: 1rem;
    padding-bottom: 2rem;;
}
.contact_emily {
    padding-bottom: 40px;
    padding-top: 40px;
}


/* ann arbor & nyc specific */
p.boba_subtext {
    padding-bottom: 20px;
}

/* .annarbor_boba, .nyc_boba {
    margin-bottom: 75px;
} */

p.bobastore_text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.top3 {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
 }

 .top3 li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.top3 {
    z-index: -1;
}
.top3 li:before {
    content: "🧋 "
}

.fa-star-o,
.checked {
    color: orange;
}

button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.btn {
    background-color: #1C567D; 
    color: white; 
    font-size: 1rem;
    border-radius: 5px;
}
  
.btn:hover {
    background-color:#9e6429;
    color: white;
}

/* GRID */
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    justify-content: center; 
}

.chatime_purple, .dingtea_slogan, .slogan_lightbold, 
.bubbletea_store_quickly, .bubbletea_store_yaya {
    font-weight: 700;
}

.dingtea_slogan {
    color: #AD5A00;
}
.chatime_purple{
    color: #4f1a6c;
}

.bubbletea_store_quickly {
    color: #fd4800;
}

.bubbletea_store_yaya {
    color: #247028;
}
.bobateahouse_img, .chatime_img, .coco_img, .dingtea_img,
.quickly_img, .sharetea_img, .sweeting_img, .teaninja_img, .unitea_img {
    grid-column: 1/-1;
    margin-bottom: 20px;
    overflow: hidden;
}

.bobateahouse_title, .chatime_title, .coco_title, .dingtea_title,
.quickly_title, .sharetea_title, .sweeting_title, .teaninja_title, .unitea_title {
    grid-column: 1 / -1;
}

.bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img,
.vivi_img, .yaya_img {
    grid-column: 1/-1;
    margin-bottom: 20px;
    overflow: hidden;
}

.bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img,
.vivi_img, .yaya_img {
    grid-column: 1 / -1;
}



/* about me */
 a.bubbletea_store_sharetea:link, a.bubbletea_store_sharetea:visited{
    color: #fd520e;
    font-weight: 800;
}

a.bubbletea_store_yaya:link, a.bubbletea_store_yaya:visited{
    color: #247028;
    font-weight: 800;
}

a.aboutme_umich:hover{
    color: #e7820f;

}
.about_image {
    padding-top: 10px;
    padding-bottom: 20px;
}

.city-image {
    padding-top: 1rem;
    padding-bottom:  2rem;;
}

p.padtop_advisory {
    font-size: .7rem;
    font-style: italic;
    font-weight: 300;
    padding-top: 50px;
}


/* contact form */

/* footer */
footer {
    padding-top: 15vh;
    text-align: center;
    
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #1C567D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
   #subject {
    height: 20rem;
  }

  ::placeholder, select {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #9e6429;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    /* background-color: white; */
    padding: 20px;
  }

@media screen and (prefers-reduced-motion: reduce){
/*Turn off scroll*/
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

/*Turn off transition*/
.skip a{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
}

/*Turn off parallax*/
header{
    background-attachment: initial;
}
}
/* tablet screen */
@media screen and (min-width: 750px){
    header > a {
        width: 25%;
    }
    /* .bobaflow_logo {
        width: 40%;
    } */
    header {
        position: sticky;
    }
    
    .nav_links{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

    }

    .nav_item{
        padding: 1.2vw;
        font-size: .9rem;
    }
    .wrapper {
        grid-gap: 2rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(9,auto)
      }

    .bobateahouse_title, .chatime_title, .coco_title, .dingtea_title, .quickly_title, .sharetea_title, .sweeting_title, .teaninja_title, .unitea_title {
        grid-column: 2/ span 1;
        padding-bottom: 5vh;;
    }

    .bobateahouse_img, .chatime_img, .coco_img, .dingtea_img, .quickly_img, .sharetea_img, .sweeting_img, .teaninja_img, .unitea_img{
        grid-column: 1 / span 1;
        overflow: hidden;
    }

    .bubbleology_title, .gongcha_title, .kungfutea_title, .tigersugar_title, .vivi_title, .yaya_title {
        grid-column: 2/ span 1;
    }

    .bubbleology_img, .gongcha_img, .kungfutea_img, .tigersugar_img, .vivi_img, .yaya_img{
        grid-column: 1 / span 1;
        overflow: hidden;
    }

    #about_head {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .aboutme {
        grid-column: 2/ span 1;
    }

    .city-image {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .about_image {
        padding-top: 0;
    }

    #home_head {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        }
    #home_head2 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding-top: 2rem;
            padding-bottom: 2rem;
        }

    .home_emily {
        grid-column: 1/ span 1;
        grid-row: 1/-1
    }
    .home_text {
        grid-column: 2/ span 1;
    }

    .home_emily, .home_emily2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_emily img {
        padding-top: 0;
        width: auto; /* width of container */
        height: 25rem; /* height of container */
        object-fit: cover;
        object-position: 40% 0;
    }


    .home_emily2 img{
        padding-top: 0;
        width: auto; /* width of container */
        height: 28rem; /* height of container */
        object-fit: cover;
        object-position: 60% 0;
    } 

    #contact_head {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        }
    .contact_emily {
        padding: 0;
    }


        .container {
            padding: 0;
        }
    footer {
        padding-top: 10vh;
    }

    /* desktop view */
    @media screen and (min-width: 1024px){
        .nav_item {
            font-size: 1.2rem;
        }
    }
}